.title-cover{    
    color: var(--dracula-orange);
    text-shadow: 3px 3px black;
}

.subtitle-cover{
    color: var(--dracula-pink);
    text-shadow: 2px 2px black;
    text-align: right;
}

.link-big{
    color: var(--dracula-title);
    text-align: center;
}

.title-item > span{
    font-size: 2.5vw;
    font-weight: 400;
}

.description-item .periodo{
    font-size: 1.2vw;
}

.description-item .tech-image{
    margin-right: 25px;
}

ul{
    margin-block-start: 0;
    padding-inline-start: 1vw;
    margin-bottom: 0;
}

.appear-when-mobile{
    display: none;
}

.hobby-img{
    width: 100%;
}

@media only screen and (max-width: 800px) {    
    .avatar-img{
        margin-top: 2vh;
        width: 100%;
        margin-bottom: 2vh;
    }

    .hobby-img{
        /* PARA CROPAR IMG */
        object-fit: cover;
        width: 100%;
        height: 100px;
    }

    .title-item > span{
        font-size: 4vw;
        font-weight: 500;
    }

    .description-item > span{
        font-size: 3.5vw;        
    }

    .description-item .periodo{
        font-size: 3vw;
    }

    .disappear-when-mobile{
        display: none;
    }    

    .appear-when-mobile{
        display: block;
    }

    #formacao-link{
        margin-left: 4vw;

    }

}