.title-cover-home{    
    line-height: 1.4;
    font-family: 'Roboto Slab';    
    font-size: 7.5vw;
    font-weight: 700;
    color: var(--dracula-orange);
    text-shadow: 3px 3px black;
}

.subtitle-cover-home{
    font-family: 'Roboto Condensed';
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--dracula-pink);
    text-shadow: 2px 2px black;
    text-align: right;
}

.link-big{
    color: var(--dracula-green);
    text-align: center;
}

.description-item .tech-image{
    margin-right: 25px;
    /* width: 6vw; */
}

ul{
    margin-block-start: 0;
    padding-inline-start: 1vw;
    margin-bottom: 0;
}

.appear-when-mobile{
    display: none;
}

.hobby-img{
    width: 100%;
}

@media only screen and (max-width: 800px) {    
    .title-cover-home{ 
        margin-top: 5%;
        line-height: 1.1;
        font-size: 12vw;
    }

    .subtitle-cover-home{
        font-size: 3vw;
    }

    .avatar-img{
        margin-top: 2vh;
        width: 100%;
        margin-bottom: 2vh;
    }

    .hobby-img{
        /* PARA CROPAR IMG */
        object-fit: cover;
        width: 100%;
        height: 100px;
    }

    .disappear-when-mobile{
        display: none;
    }    

    .appear-when-mobile{
        display: block;
    }

    #formacao-link{
        margin-left: 4vw;

    }

}