.title-cover{   
    color: var(--dracula-red);
    text-shadow: 3px 3px black;
    line-height: 1.25;
}

.subtitle-cover{
    color: var(--dracula-foreground);
    text-shadow: 2px 2px black;
    text-align: right;
}

.row-social-media{
    margin-top: 10vh;
}

.social-media{
    cursor: pointer;
}

.title-social-media{
    font-family: 'Roboto Slab';    
    font-size: 3.3vw;
    font-weight: 700;
    color: var(--dracula-title);
}

.contact-social-media{
    font-family: 'Roboto Slab';    
    font-size: 2vw;
    font-weight: 300;
    color: black;
}

.shark-icon{
    height: 10vw;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 800px) {      
    .row-social-media{
        margin-top: 3.5vh;
    }

    .social-media{
        margin-bottom: 2vh;
    }    

    .title-social-media{        
        line-height: 1;
        font-size: 7vw;
    }
    
    .contact-social-media{
        font-size: 5vw;
    }
    
    .shark-icon{
        height: 25vw;
        position: absolute;
        bottom: 2vh;
        right: 10vw;
    }
}
