.avatar-img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.table-of-content{
    list-style-type: none;
    padding-inline-start: 0;
}

.table-of-content > li{
    font-weight: 700;
}

.post-img{
    width: 80%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.subtitle-img{
    font-weight: 300;
    font-size: 1.3vw;
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .subtitle-img{
        font-size: 2vw;
    }
}
