@import "../colors/dracula.css";
@import "../font/fonts.css";

.navbar{
    /* box-shadow: 0px 4px 1em black; */
    /* Navbar vem com padding padrao */
    padding: 0 !important;
}

#logo-navbar{
    padding: 0 !important;
    margin: 0 !important;
}

.navbar-toggler{
    /* Manter botao menu dropdown responsivo um pouco a esquerda */
    margin-right: 10px;
}

.navbar-collapse{
    /* Manter menu navbar um pouco a esquerda */
    margin-right: 10px;
}

.bg-dark{
    /* Sobrepor cor fundo padrao da navbar */
    background-color: var(--dracula-background) !important;
}

.dsicari-logo{
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

.dsicari-text-logo{
    line-height: 1.4;
    font-size: 45px;
    font-family:  'Secular One';
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.nav-link{
    font-family: 'Roboto Condensed';
    font-size: 30px;
}

.nav-link:hover{
    color: white !important;
}

body{
    background-color: var(--dracula-comment);
}

hr{
    color: var(--dracula-gray);
    background-color: var(--dracula-gray);
    height: 10px;
}

.content{
    border-radius: 5px;
    /* box-sizing: border-box; ??? */
    border: 5px solid var(--dracula-selection);
    background-color: var(--dracula-foreground);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
}

.title{
    line-height: 1.1;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 4vw;
}

.subtitle{
    line-height: 1.1;
    font-family: 'Roboto Slab';
    font-weight: 200;
    font-size: 1.5vw;
}

@media only screen and (max-width: 800px) {
    .nav-link{
        margin-left: 10px;
        font-size: 4vh;
    }

    /* .dsicari-logo{
        margin-top: 10px;
        height: 5vh;
    } */

    /* .dsicari-text-logo{
        font-size: 10vw;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    } */

}